body {
    background-size: cover
}


h2 {
    word-spacing: 20px;
}

.enter {
    min-width: 57%;
    padding: 0;
    margin: 0;
    font-weight: 700 ;
    color: black;
    text-align: center;
}

.col-4{
font-weight: 300;
}

.repo-link {
    text-align: center;
}

.first-search {
    background-color: black;
    color: white;
    font-weight: 500;
}

.live-search {
    background-color: black;
    color: white;
    font-weight: 500;
    position: relative;
    top: -30px;
    right: -230px;
}

.main-details{
    color: white;
}

.result {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.cloudy {
    font-size: 100px;
    color: white;
    text-align: center;
    padding-right: 580px;
    position: relative;
    right: -95px;
}

.heading {
    color: white;
}

.details{
    width: auto;
    margin: auto;
    color: white;
}

.updates {
    width: auto;
    margin: auto;
    position: relative;
    top: 5px;
    color: white;
}

.card-body {
    text-align: center;
}

.temperature {
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.degree-link {
    text-decoration: none;
    position: relative;
    top: -30px;
    color: black;
}

.degree-link:hover {
    color: black;
}

.hyphen {
    position: relative;
    top: -30px;
    color: white;
}

.active {
    color: white;
    cursor: default;
}

.active:hover {
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
   }
   #main-icon {
    height: 130px;
    width: 130px;
   }
   
a {
    text-decoration: none;
    color: white;
}

#temperature-description {
    text-transform: capitalize;
    color: white;
    position: relative;
    right: 10px;
    
}
h4 {
    font-size: 50px;
    text-align: center;
}
